# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (¡MUY IMPORTANTE PARA SEGURIDAD!)
.env
kick_token.json
# Logs y bases de datos locales (opcional por ahora, pero útil a futuro)
*.log
*.sqlite3