# Entornos virtuales
.vscode/
.venv/
# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
# Archivos de configuración locales y secretos
backend/api_keys.py
.env
# Bases de datos locales
*.db
# Archivos del sistema operativo
*.exe
*.log
*.iss
*.spec
*.txt
# Archivos de configuración de IDEs
*build/
*dist/